<div class="films-container">
    <h1 class="page-header">Filme</h1>

    <div class="row card-container" infiniteScroll [infiniteScrollDistance]=scrollDistance [infiniteScrollThrottle]=throttle
    scrollWindow=false (scrolled)="loadMore()">
        <div class="col-md-4 card-row" *ngFor="let film of filmsList">
            <div class="card" (click)="showDetails(film.url);">
                <img src="../../../assets/images/tile.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{film.title}}</h5>
                  <p>Director: {{film.director}}</p>
                  <p class="extra-height">Produzenten: {{film.producer}}</p>
                  <p>Erscheinungsdatum: {{film.created | date}}</p>
                  <a>Mehr Informationen....</a>
                </div>
              </div>
        </div>
    </div>
</div>