<div class="films-container">
  <h1 class="page-header">Filme</h1>
  <app-list-grid [(listData)]="filmsList" (loadData)="fetchFilms($event);">
    <ng-template #listview let-item>
        <img src="../../../assets/images/tile.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item?.title}}</h5>
          <p>Director: {{item?.director}}</p>
          <p class="extra-height">Produzenten: {{item?.producer}}</p>
          <p>Erscheinungsdatum: {{item?.created | date}}</p>
          <a>Mehr Informationen....</a>
        </div>
    </ng-template>
  </app-list-grid>
</div>