@import './fonts.scss';
// primary font
$regular_font: 'Roboto-Regular';
$bold_font: 'Roboto-Bold';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xlg: 20px;
$font-xxlg: 25px;
$font-xxxlg: 75px;