<div class="planets-container">
    <h1 class="page-header">Planeten</h1>
    <app-list-grid [(listData)]="planetList" (loadData)="fetchPlanets($event);">
      <ng-template #listview let-item>
          <img src="../../../assets/images/planets.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item?.name}}</h5>
            <p>Rotation Period: {{item?.rotation_period}}</p>
            <p>Population: {{item?.population}}</p>
            <p>Erscheinungsdatum: {{item?.created | date}}</p>
            <a>Mehr Informationen....</a>
          </div>
      </ng-template>
    </app-list-grid>
</div>