<div class="planets-container">
    <h1 class="page-header">Planeten</h1>

    <div class="row card-container" infiniteScroll [infiniteScrollDistance]=scrollDistance [infiniteScrollThrottle]=throttle
    scrollWindow=false (scrolled)="loadMore()">
        <div class="col-md-4 card-row" *ngFor="let planet of planetList">
            <div class="card" (click)="showDetails(planet.url);">
                <img src="../../../assets/images/planets.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{planet.name}}</h5>
                  <p>Rotation Period: {{planet.rotation_period}}</p>
                  <p>Population: {{planet.population}}</p>
                  <p>Erscheinungsdatum: {{planet.created | date}}</p>
                  <a>Mehr Informationen....</a>
                </div>
              </div>
        </div>
    </div>
</div>