<div class="character-container">
  <h1 class="page-header">Charaktere</h1>
  <app-list-grid [(listData)]="characterList" (loadData)="fetchCharacters($event);">
    <ng-template #listview let-item>
        <img src="../../../assets/images/character-tile.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item?.name}}</h5>
          <p>Gender: {{item?.gender}}</p>
          <p>Height: {{item?.height}}</p>
          <p>Erscheinungsdatum: {{item?.created | date}}</p>
          <a>Mehr Informationen....</a>
        </div>
    </ng-template>
  </app-list-grid>
</div>