<div class="character-container">
    <h1 class="page-header">Charaktere</h1>

    <div class="row card-container" infiniteScroll [infiniteScrollDistance]=scrollDistance [infiniteScrollThrottle]=throttle
    scrollWindow=false (scrolled)="loadMore()">
        <div class="col-md-4 card-row" *ngFor="let character of characterList">
            <div class="card" (click)="showDetails(character.url);">
                <img src="../../../assets/images/character-tile.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{character.name}}</h5>
                  <p>Gender: {{character.gender}}</p>
                  <p>Height: {{character.height}}</p>
                  <p>Erscheinungsdatum: {{character.created | date}}</p>
                  <a>Mehr Informationen....</a>
                </div>
              </div>
        </div>
    </div>
</div>