<div class="film-detail-container" *ngIf="filmDetails">
    <div class="header-items">
        <span class="item1">Filmdetails</span>
        <div class="item2">Filmtitel</div>
        <div class="item3">Episode {{filmDetails.episode_id}}</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5><b>Details</b></h5>
            <p><b>Director:</b> {{filmDetails.director}}</p>
            <p><b>Produzenten:</b> {{filmDetails.producer}}</p>
            <p><b>Erscheinungsdatum:</b> {{filmDetails.created | date}}</p>
            <p class="description">
                {{filmDetails.opening_crawl}}
            </p>
        </div>
        <div class="col-md-6 imgCls">
            <img src="../../../../assets/images/tile.png" alt="">
        </div>
    </div>

    <div class="row links-container">
        <div class="col-md-12">
            <h5><b>Charaktere:</b></h5>
        </div>
        <div class="col-md-12">
            <ng-container *ngFor="let character of filmDetails.characters; let idx = index;">
            <span class="badge badge-secondary" (click)="showDetails('CHARACTER', character);">character {{idx+1}}</span>
            </ng-container>
        </div>
    </div>

    <div class="row links-container">
        <div class="col-md-12">
            <h5><b>Planeten:</b></h5>
        </div>
        <div class="col-md-12">
            <ng-container *ngFor="let planet of filmDetails.planets; let idx = index;">
            <span class="badge badge-secondary" (click)="showDetails('PLANETS', planet);">Planeten {{idx+1}}</span>
            </ng-container>
        </div>
    </div>
</div>